.dashboard-admin {
  text-align: center;
  background-color: rgb(234, 234, 234);
  
}
.heading-admin {
  text-align: center;
  border-bottom: 1px solid black;
}
.novel-admin {
  background-color: rgb(234, 234, 234);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
 
}
.novel-item-admin {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(247, 247, 247);
  color: rgb(38, 38, 168);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.2s;
  border: 1px solid;
  border-color: rgb(38, 38, 168);
}

.novel-item-admin:hover {
  transform: translateY(-5px);
}

.novel-image-admin {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.novel-details {
  padding: 20px;
}

.novel-list-admin {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 10px;
}

.deskripsi {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
  .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  }
}

.add-chapter-btn,
.delete-btn, .edit-btn {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-chapter-btn {
  background-color: #28a745;
  color: white;
}

.delete-btn {
  background-color: #dc3545;
  margin-top: 2px;
  color: white;
}

.edit-btn {
  background-color: #007BFF;
  margin-top: 2px;
  color: white;
}

.add-chapter-btn:hover {
  background-color: #218838;
}

.delete-btn:hover {
  background-color: #c82333;
}

footer {
  margin-top: auto;
}